
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:spring="http://www.springframework.org/tags" id="footer">
 <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
			 <div class="container" >

				<div class="hidden-xs">
					<div>
						
						<!--  embed um_footer_links -->
						<ul class="list-inline list-unstyled">
		
						</ul>

						
					</div>
					<!-- /footer -->

				</div>
			</div>
		</div>
