<div version="2.0" xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:form="http://www.springframework.org/tags/form" xmlns:c="http://java.sun.com/jsp/jstl/core"
	class="signOnContainer">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<spring:message code="regLocked_title" htmlEscape="false"></spring:message>
			</h2>
		</div>
		<div class="panel-body">
			<spring:message code="regLocked_message" htmlEscape="false"></spring:message>
		</div>
	</div>
	<br />
	
	<!-- /Messages -->
	<div class="hidden-phone">
		<div id="rightLinks">
			<ul class="unstyled">

			</ul>
		</div>
		<!-- 						<jsp:include page="umrightlinks.jspx"/> -->
	</div>


<div class="form-group"><button type="button" onclick="javascript:window.close()">Close</button></div>

</div>



