
<html lang="en" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" >  
    <jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />

    <jsp:directive.page contentType="text/html;charset=UTF-8" />  
    <jsp:directive.page pageEncoding="UTF-8" /> 
    <jsp:output omit-xml-declaration="yes" />
    <head>
        <meta charset="utf-8"/>
        <title>Account Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
        <!-- CSS -->

        <!-- 	  <link href="resources/css/priceglobal-bootstrap.css" rel="stylesheet"/>
        <link href="resources/css/democorp.css" rel="stylesheet"/> -->
        <link href="${pageContext.servletContext.contextPath}/resources/css/priceglobal-bootstrap.css" rel="stylesheet"/>
        <link href="${pageContext.servletContext.contextPath}/resources/css/democorp.css" rel="stylesheet"/>
        <link href="${pageContext.servletContext.contextPath}/resources/css/cis.css" rel="stylesheet"/>

    </head>

    <body >


        <!-- Wrap all page content here -->

        <div>
            
            <tiles:insertAttribute name="header" ignore="true" />



            <!-- Begin page content -->
            <div class="container">
                <img src="images/cuny-login.jpg" alt="CUNY Login"></img>
                <h1 class="panel-title">Account Self-Service</h1>
                <tiles:insertAttribute name="body"/> 
            </div>   

            <!-- div>
                <spring:message code="disclaimer_body" />
            </div -->
            
            <div class="footer-main">
                <div class="footer1">
                </div>
                <div class="footer2">
                                    <div class="footer-nav">
                                        <a href="http://www.cuny.edu/website/terms.html"  target="_blank">Terms of Use | </a>
                                        <a href="http://www.cuny.edu/website/security.html"  target="_blank">Security Policy | </a>
                                        <a href="http://cuny.edu/accessibility"  target="_blank">IT Accessibility | </a>
                                        <a href="http://www.cuny.edu/about/resources/helpdesks.html"  target="_blank"><spring:message code="helpDeskText" /></a>
                                    </div>
                </div>
 	    </div>

            
            
            
        </div>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><!--Placeholder--></script>
        <script src="${pageContext.servletContext.contextPath}/resources/js/bootstrap.min.js"><!--Placeholder--></script>
    </body>
</html>
