html, body {
	
	margin: 0;
    padding: 0;
	height: 100%;
	 
}


body {
	background-color: #fff;
	color: #0c2255;
	line-height: 1.5;
	letter-spacing: 1px;
	word-spacing: 2px;
	overflow-x: hidden;
    width: 100%;
	margin: 0 0 100px 0; /* bottom = footer height */

		
}

h1, h2 {
line-height: 1.5;
padding: 0;
margin: 0;
}

h1 {
	
	font-size: 22px;

	
}

h2 {
	font-size: 16px;
	
	
}

.header-container {
   width: 100%;
   padding: 10px 0;
   min-height: 0px;
   color:fff;
   background-color: #1d3a83;

}

header {
	
	margin-left: auto;
    margin-right: auto;
	max-width:600px;
    position: relative;


}

.header2 {
  
   /* max-width: 1340px;*/
   padding: 30px 0 30px 0;



}

.row.one {
		margin: 60px auto 20px auto;
	    padding: 0 15px 0 15px;
		max-width: 800px;

}

.panel {
  margin: 20px auto 20px auto;
  padding: 0 15px 0 15px;
  
}


.panel-default > .panel-heading {
  color: #0c2255;
}


.main-title {
	text-align:center;
}

.instructions {

 max-width: 500px;
 margin-left:auto;
 margin-right:auto;
	
}
	
.row.two {
		margin: 40px auto 0px auto;
		padding: 0 15px 0 15px;
		max-width: 600px;


}

.disclaimer {
	font-weight: bold;	
}

.asterisk {
	font-weight: bold;
	color: #F00;
	font-size: 16px;	
	
}

.help-desk {
		margin: 40px auto 0px auto;
		max-width: 600px;
		text-align:center;


}

.cuny-logo {

	    max-width: 1200px;
		margin-left:auto;
		margin-right:auto;

}


.container {
    max-width: 560px;
	margin-top: 20px;
	padding-bottom: 60px;
	min-height: 100%;
    overflow: auto;
    /*position: relative;*/

}

.signOnContainer {
 	max-width: 500px;
    width: 100%;
	padding: 29px 60px 29px 60px;
	margin: 20px auto 0 auto;
	display: inline-block;
	position: relative;
	background-color: #f8fafb;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	top: 0;
	left: 0;
 }    


a { 

color: #005daa;

}


a:hover, a:focus, a:active {
	color: #1D3A83;
    text-decoration: underline;
}

.panel {
  padding: 15px;
 
} 

.btn-primary,
.btn-info {
  color: #ffffff;
  background-color: #1d3a83;
  border-color: #1d3a83;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #005daa;
  border-color: #005daa;
}

.form-control {
 
 color: #0c2255; 
 
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}



.alert-danger {
    color: #7a1111;
}

.footer-main {
   bottom: 0; 
   position: relative;
   overflow-x: hidden;

   width: 100%;
   margin-bottom: 0;
    
}

.footer-main a {
	color: #1D3A83;
	font-size: 16px;
}

.footer1 {
   
   width: 100%;
   padding: 0;
   background-color: #fff;
   text-align: center;	
		
}


.footer1 p {
	text-align:center;
	padding-bottom:20px;
	
}

.footer2 {
	
   padding: 60px 15px 60px 15px;
   background-color: #F0F1F1;
   text-align: center;	
	
}

@media only screen and (max-width: 1024px) {


.cuny-logo {

	    max-width: 560px;
		

}

}
@media only screen and (max-width: 414px) {

.container {
	margin-top: 10px;
}

.panel {
  margin: 0px auto 20px auto;
 
}

.panel-title {
  font-size: 24px;
  text-align:left;
}


.signOnContainer {
 
	padding: 29px 20px 29px 20px;
	
 }    
 
.logo {
		padding-left: 25px;

}