/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

/* Custom Styles*/

 .signOnContainer {
max-width: 474px;
padding: 29px 29px 29px 29px;
  margin: -150px 0 0 -150px;
display: inline-block;
background-color: #bbb;
border: 1px solid #fff;
position: absolute;
top: 50%;
  left: 50%;
 }    

  .signOnContainerDisclaimer {
max-width: 1200px;
display: inline-block;
background-color: #ffffff;
}    

 
input.alert-error {
	color: #b94a48;
background-color: #f2dede;
}
      
      
      
      #footer .container {margin-left:0px; margin-right: inherit;}
div.footer ul li img { width: inherit; height: inherit; max-width: inherit;}

/* 3.3        Footer
-----------------------------------------------------------------------------------------------*/    
div.footer-wrap { border-top: 1px solid #D9E0BF; }
div.footer { padding: 10px 0 10px 40px; position: relative; }

div.footer address { color: #bbb; font-size: 0.8em; line-height: 1.4em; font-style: normal; margin-bottom:11px; }
div.footer address span { display:block; }
div.footer ul { width:275px; }
div.footer ul li { color: black; font-size: 0.8em; line-height:1.3em;}
div.footer li a { color: black; text-decoration: none; line-height:0.8em; }
div.footer copyright { float: nonet; }

